* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
  overflow: hidden;
}

#app {
  width: 80%;
  height: 700px;
  background-color: #fff;
  margin: 30px auto;
  z-index: 1000;
}
