* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
  overflow: hidden;
}

#app {
  width: 80%;
  height: 700px;
  background-color: #fff;
  margin: 30px auto;
  z-index: 1000;
  display: flex;
}
/* classi comuni*/

.profile__img {
  width: 50px;
  border-radius: 50%;
  margin: 0 5px;
}

/*aside*/
aside {
  width: 35%;
  height: 100%;
  overflow: hidden;
}
/* stile dell'aside header  */

.aside-header {
  width: 100%;
  height: 70px;
  background-color:#EAEAEA;
  border-right: 1px solid #B1B1B1;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.user-container {
  display:flex;
  align-items: center;
}
.user-icons ul {
  list-style: none;
  display: flex;
}
.user-icons li {
  padding: 0 8px;
}
.user-icons li a {
  color:#B1B1B1;

  font-size: 18px;
}
/* /stile dell'aside header  */
/* stile delle notifiche */
.notifica {
  width: 100%;
  height: 80px;
  background-color:#8EDAFC;
  display: flex;
  align-items: center;
}
.bell__wrapper {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px 8px;
  margin-left: 10px;
  margin-right: 8px;
}
.bell__wrapper > i {
  font-size: 20px;
  color: #8EDAFC;
}
.notifica__text > a {
  font-size: 12px;
  color: #6FA8C2;
}
/*/ stile delle notifiche */

.find-chat {
  width: 100%;
  height: 45px;
  background-color:#F3EEEA;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.find-chat > button {
  background-color: #FFF;
  border: none;
  width: 50px;
  height: 27px;
  border-radius: 5px;
  cursor: pointer;
}
.find-chat button > i {
  color: #B1B1B1;
}
.find-chat > input {
  border: none;
  height: 27px;
  margin-left: 1px;
  width: 100%;
  padding: 0 5px;
  border-radius: 5px;
}

.find-chat > button:focus, .find-chat > input:focus  {
  outline: none
}

.contatti-container {
  width: 100%;
  height: 80%;
  overflow-y: auto;
}
/* /aside */

.chat-wrapper {
  width: 65%;
}
.header-chat {
  width: 100%;
  height: 70px;
  background-color:#EAEAEA;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.contact__chat {
  display:flex;
  align-items: center;
}

.header-chat__text > p {
  font-size: 12px;
  color: #848A8D;
}

.chat-container {
  width: 100%;
  height:calc(100% - 140px);
  overflow: auto;
  background-image: url("../img/mine.jpg");
}

.type-message {
  height: 70px;
  width: 100%;
  background-color: #F3EEEA;
  display: flex;
  align-items: center;
}
.type__icon {
  width: 60px;
  text-align: center;
}
.type__icon button {
  width: 100%;
  font-size: 20px;
  color: #6B7376;
  border: none;
  cursor: pointer;
}
.type-message > input {
  width: calc(100% - 120px);
  border: none;
  height: 38px;
  padding: 0 10px;
}
.type__icon button:focus, .type-message > input:focus {
  outline: none;
}
