<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script>dayjs().format()</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Boolzap</title>
</head>
<body>
  <div id="app">
    <aside>
      <!-- header dell'aside -->
      <header class="aside-header">
        <div class="user-container">
          <img src="img/avatar_io.jpg" class="profile__img" alt="">
          <h5>Nome Utente</h5>
        </div>
        <div class="user-icons">
          <ul>
            <li><a href="#"><i class="icone_azione__icone fas fa-circle-notch"></i></a></li>
            <li><a href="#"><i class="icone_azione__icone fas fa-comment-alt"></i></a></li>
            <li><a href="#"><i class="icone_azione__icone fas fa-ellipsis-v"></i></a></li>
          </ul>
        </div>
      </header>
      <!-- area notifiche -->
      <div class="notifica">
        <div class="bell__wrapper">
          <i class="fas fa-bell-slash"></i>
        </div>
        <div class="notifica__text">
          <h5>Ricevi notifiche di nuovi messaggi</h5>
          <a href="#">Attiva notifiche desktop</a>
        </div>
      </div>

      <div class="find-chat">
        <button type="button" name="button"><i class="fas fa-search"></i></button>
        <input type="text" value="" placeholder="Cerca o inizia una nuova chat">
      </div>
      <!-- elenco contatti -->
      <ul v-if="contacts.length > 0" class="contatti-container">
        <li v-for="(item, index) in contacts" class="contact__item" @click= "contactActive = index">
          <img v-bind:src=" 'img/avatar' + item.avatar + '.jpg' " class="profile__img" alt="">
          <h5>{{item.name}}</h5>
        </li>
      </ul>
    </aside>
    <!--Area della chat di destra -->
    <div class="chat-wrapper">
      <header class="header-chat">
        <div class="contact__chat">
          <img v-bind:src="'img/avatar' + contacts[contactActive].avatar + '.jpg'" class="profile__img" alt="">
          <div class="header-chat__text">
            <h5>{{contacts[contactActive].name}}</h5>
            <p>Ultimo accesso oggi alle</p>
          </div>
        </div>
        <div class="user-icons">
          <ul>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="#"><i class="fas fa-paperclip"></i></a></li>
            <li><a href="#"><i class="icone_azione__icone fas fa-ellipsis-v"></i></a></li>
          </ul>
        </div>
      </header>
      <!-- area dei messaggi -->
      <div class="chat-container">
        <div v-for="(item, index) in contacts[contactActive].messages"  class="contact-row">
          <div class="message row" v-bind:class="item.status == 'sent' ? 'inviato' : 'ricevuto'">
            <p>{{item.message}}</p>
            <small>{{item.date}}</small>
          </div>
        </div>
      </div>
      <!-- barra di digitazione del messaggio -->
      <div class="type-message">
        <div class="type__icon">
          <button><i class="far fa-smile"></i></button>
        </div>
        <input type="text" placeholder="Scrivi un messaggio" v-model="inputMessage" v-on:keydown.13 ="printMessage"  >
        <div class="type__icon">
          <button><i class="fas fa-microphone"></i></button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <!-- <script>console.log(dayjs().format('DD/MM/YYYY HH:mm:ss'))</script> -->
  <script src="js/contacts.js" charset="utf-8"></script>
</body>
</html>
